{% extends "layout.html" %}

{% block pageTitle %}
Print this page U+2013 {{ serviceName }}
{% endblock %}

{% set currency = "£" %}
{% set ownership = "%" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
{% endblock %}

{% block content %}

<style media="screen">

/*.govuk-header {
  display: none;
}
*/

.logo-line {
  display: inline-block;
  border-left: 2px #231f20 solid;
  height: 30px;
}
.logo-type {
  display: inline;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 26px;
  color: #231f20;
  position: relative;
  top: -5px;
  padding-left: 5px;
}

.pagination{
  float: right;
}
.header-info > p {
  font-size: 16px;
}
/* stacked logo styles */
.gem-c-organisation-logo{
  font-size: 18px;
font-weight: 400;
line-height: 1.35;
margin: 0 0 30px 0;
}

.gem-c-organisation-logo__container{
  text-transform: none;
text-decoration: none;
display: block;
color: #0b0c0c;
height: auto;
width: auto;
direction: ltr;
}

.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo__crest--org{
  background: url(/public/images/crest.svg) no-repeat 6px 0;
  background-size: auto 26px;
}

.gem-c-organisation-logo__name{
  position: relative;
  top: 3px;
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.gem-c-organisation-logo__crest{
  padding-top: 25px;
  padding-left: 7px;
  border-left: 2px solid #0b0c0c;
}

/* non stacked logo styles */
.gem-d-organisation-logo{
  font-size: 18px;
font-weight: 400;
line-height: 1.35;
margin: 0 0 30px 0;
}

.gem-d-organisation-logo__container{
  text-transform: none;
text-decoration: none;
display: block;
color: #0b0c0c;
height: auto;
width: auto;
direction: ltr;
}

.gem-d-organisation-logo__crest--single-identity, .gem-d-organisation-logo__crest--eo, .gem-d-organisation-logo__crest--org{
  background: url(/public/images/crest.svg) no-repeat 6px 0;
  background-size: auto 26px;
}

.gem-d-organisation-logo__name{
  position: relative;
  top: 1px;
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.gem-d-organisation-logo__crest{
  padding-top: 0;
  padding-left: 42px;
  border-left: 2px solid #0b0c0c;
}


</style>

    <div class="print-header">
      <div class="header-info">
        <p>LAA reference: <strong>HDJ-212-3F</strong> &nbsp; Date: <strong>16 August 2022</strong><span class="pagination"></span></p>
      </div>
    </div>

      <!-- original logo -->
      <div class="logo-line"></div>
      <img src="/public/images/crest.svg" alt="" height="30px"</>
      <h1 class="logo-type">Legal Aid Agency</h1>
      <div class="govuk-!-padding-bottom-4"></div>

      <!-- non stacked logo -->
      <div class="gem-d-organisation-logo">
          <div class="gem-d-organisation-logo__container gem-d-organisation-logo__crest gem-d-organisation-logo__crest--single-identity ">
            <span class="gem-d-organisation-logo__name">Legal Aid Agency</span>
          </div>
      </div>

      <!-- stacked logo -->
        <div class="gem-c-organisation-logo">
            <div class="gem-c-organisation-logo__container gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity ">
              <span class="gem-c-organisation-logo__name">Legal Aid <br>Agency</span>
            </div>
        </div>





{% endblock %}
