{% extends "layout.html" %}

{% block pageTitle %}
Assets in dispute – {{ serviceName }}
{% endblock %}

{% set currency = "£" %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <form class="form" action="{% if data['returnto'] %} {{ data['returnto']}} {% else %}/check-answers-2{% endif %}" method="post">

            <input class="govuk-input govuk-input--width-5" id="" name="returnto" type="hidden" value="">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-l">Your client's finances</span>
               <h1 class="govuk-fieldset__heading">Are any of your client's assets the subject matter of dispute (SMOD)?</h1>
             </legend>

            <div id="contact-hint" class="govuk-hint">Any property, assets or possessions subject to dispute.</div>

            <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">What is SMOD?</span>
  </summary>
  <div class="govuk-details__text">The definition of disposable capital in section 42 of the Act excludes the value of any capital which is the subject matter of the dispute. In practical terms, this generally means that some form of order, (for example, a crave or conclusion or prayer in a petition) is directed to that property or asset.</div>
</details>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">

                <input class="govuk-radios__input" id="smod-yes" name="smod" type="radio" value="Yes" {{ checked("smod","Yes") }} data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="smod-yes">Yes</label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="smodAmount">Enter the value of all disputed assets</label>
                    <!-- wrapper starts -->
                    <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="smodAmount" name="smodAmount" type="text" value="{{ data['smodAmount'] }}">
                  </div>
                  <!-- wrapper ends -->
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="smod-no" name="smod" type="radio" value="No" {{ checked("smod","No") }}>
                <label class="govuk-label govuk-radios__label" for="smod-no">No</label>
              </div>
          </fieldset>
        </div>



        <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
      </div>
      </form>

    </div>

    <div class="right-sidebar-menu">
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Date</strong>
          <p class="govuk-body-m">16 August 2022</p>
          </h2>
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Related content</strong>
         <p><a href="#">Guidance on subject matter of dispute</a></p>
          </h2>
        </aside>
      </div>
    </div>

  </div>

{% endblock %}
