{% extends "layout.html" %}

{% block pageTitle %}
  Client details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{% if data['checking'] %}/v2-check-answers{% else %}/client-details-6{% endif %}" method="post">

      <!-- question start -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Client details</span>
             <h1 class="govuk-fieldset__heading">Is your client receiving asylum support?</h1>
           </legend>

          <div id="partner-hint" class="govuk-hint">
            If a person is waiting to find out if they'll be given asylum, they may receive housing and money to support them and their family.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="asylum-support-yes" name="asylum-support" type="radio" value="Yes" {{ checked("asylum-support", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="asylum-support-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="asylum-support-no" name="asylum-support" type="radio" value="No" {{ checked("asylum-support", "No") }}>
              <label class="govuk-label govuk-radios__label" for="asylum-support-no">
                No
              </label>
            </div>
        </fieldset>
      </div>
      <!-- question end -->

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
      <a class="govuk-link" href="/v2-start">Cancel</a>
      </div>

      </form>

    </div>


</div>





{% endblock %}
