{% extends "layout.html" %}

{% block pageTitle %}

Employment – {{ serviceName }}

{% endblock %}

{% set currency = "£" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

       <form class="form" action="/client-employment-entry" method="post">

         <div class="govuk-form-group">



           <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

             <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
             <span class="govuk-caption-l">Your client's finances</span>
             <h1 class="govuk-fieldset__heading">You told us your client is employed</h1>
             </legend>
             <h2 class="govuk-heading-m">We need information on your client's employment income and outgoings</h2>
             <div id="contact-hint" class="govuk-hint">Select all that apply.</div>

             <div class="govuk-checkboxes" data-module="govuk-checkboxes">

             <div class="govuk-checkboxes__item">
             <input class="govuk-checkboxes__input" id="employement-income-1" name="client-employment" type="checkbox" value="Employment income" {{ checked("client-employment","Employment income") }} >
             <label class="govuk-label govuk-checkboxes__label" for="employement-income-1">Employment income</label>
             </div>


             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="employement-income-2" name="client-employment" type="checkbox" value="Income tax" {{ checked("client-employment","Income tax") }} >
               <label class="govuk-label govuk-checkboxes__label" for="employement-income-2">Income tax</label>
             </div>


             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="employement-income-3" name="client-employment" type="checkbox" value="National Insurance"{{ checked("client-employment","National Insurance") }}>
               <label class="govuk-label govuk-checkboxes__label" for="employement-income-3">National Insurance</label>
             </div>


             <!-- none -->
             <div class="govuk-checkboxes__divider">or</div>
             <div class="govuk-checkboxes__item">
             <input class="govuk-checkboxes__input" id="capital-8" name="client-employment" type="checkbox" value="no monthly income" data-behaviour="exclusive" {{ checked("client-employment","no monthly income") }}>
             <label class="govuk-label govuk-checkboxes__label" for="capital-8">
             My client has no employment income or outgoings
             </label>
             </div>
             </div>
             <!-- none -->

             </div>

           </fieldset>

           <div class="govuk-button-group">
           <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
           </div>

         </div>

       </form>

       <div class="right-sidebar-menu">
         <div class="govuk-grid-column-one-third">
           <aside class="app-related-items" role="complementary">

             <h2 class="govuk-body-m" id="subsection-title">
             <strong>Date</strong>
             <p class="govuk-body-m">16 August 2022</p>
             </h2>
             <h2 class="govuk-body-m" id="subsection-title">
             <strong>Related content</strong>
            <p><a href="#">Guidance on benefits payments</a></p>
             </h2>
           </aside>


         </div>
       </div>

   </div>


 </div>

{% endblock %}
