{% extends "layout.html" %}

{% block pageTitle %}
Confirmation – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">You've provided your client's information</h1>
          <div class="govuk-panel__body">Your reference number is<br><strong>HDJ2123F</strong></div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">Use Apply for legal aid or CCMS to start an application for your client.</p>
        <p class="govuk-body">You may need to provide evidence of your client's eligibility as part of your application.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What evidence might I need?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Depending on your client's financial situation, you may need to provide:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>bank statements covering the last 3 months</li>
              <li>evidence of any benefits or financial support your client received from the government, local authorities or third parties dated in the last 6 months</li>
              <li>wage slips covering the last 3 months (if your client is employed)</li>
              <li>evidence of housing payments such as a mortgage statement, rent book or receipts</li>
              <li>receipts for childcare payments</li>
              <li>documentation showing the value of any assets held by your client</li>
              <li>a property valuation (if your client owns a property)</li>
              <li>evidence of any claims against your client's assets</li>
            </ul>
          </div>

        </details>

        <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Submit another eligibility check</button>
        <button type="" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="document.location='/start'">Print confirmation</button>
      </div>

      </div>

    </div>

{% endblock %}
