
{% extends "layout.html" %}

{% block pageTitle %}
  Home – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check eligibility for legal aid<span class="govuk-caption-xl">Prototype</span></h1>{{releaseVersion | log }}

      <p>This is a prototype of a service that allows users to get an eligibility estimate for legal aid and guidance on evidence gathering.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Start an eligibility check for legal aid</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
