{% extends "layout.html" %}

{% block pageTitle %}
  Client details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Client details</span>
      <h1 class="govuk-heading-l">Your client's details</h1>

        <form class="form" action="{% if data['checking'] %}/check-answers{% elif data['passport-benefits'] == 'Yes' %}/client-property{% else %}/monthly-income{% endif %}" method="post">

      <!-- question start -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label govuk-label--m" for="client-home-value">Does your client receive a passporting benefit?</label>

          <div id="partner-hint" class="govuk-hint">Includes Universal Credit, Income Support, income-based Jobseeker's Allowance (JSA), income-related Employment and Support Allowance (ESA), and Guarantee Credit element of Pension Credit.
        </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="passport-benefits-yes" name="passport-benefits" type="radio" value="Yes" {{ checked("passport-benefits", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="passport-benefits-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="passport-benefits-no" name="passport-benefits" type="radio" value="No" {{ checked("passport-benefits", "No") }}>
              <label class="govuk-label govuk-radios__label" for="passport-benefits-no">
                No
              </label>
            </div>
        </fieldset>
      </div>
      <!-- question end -->

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
      <a class="govuk-link" href="/start">Cancel</a>
      </div>

      </form>

    </div>

    <div class="right-sidebar-menu">
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Reference number</strong>
          <p class="govuk-body-m">HDJ-212-3F</p>
          </h2>
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Date stamp</strong>
          <p class="govuk-body-m">16/08/2022</p>
          </h2>
          <!--{% if data['represenation'] == 'Licensed (certificated) work' %}
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Type of legal help</strong>
          <p class="govuk-body-m">Licensed (certificated) legal aid work</p>
          </h2>
          {% elseif data['represenation'] == 'Controlled work' %}
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Type of legal help</strong>
          <p class="govuk-body-m">Controlled legal aid work</p>
          </h2>
          {% else %}

          {% endif %}-->
        </aside>
      </div>
    </div>


</div>





{% endblock %}
