{% extends "layout.html" %}

{% block pageTitle %}
Area of Help – {{ serviceName }}
{% endblock %}

{% set serviceName %}
  Check if you can get legal aid
{% endset%}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <form class="form" action="/determine-merits-2" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-l">Your details</span>
               <h1 class="govuk-fieldset__heading">Do you own the home you live in and are at risk of losing it?</h1>
             </legend>
             <div id="sign-in-hint" class="govuk-hint">
               For example, bankruptcy, mortgage debt or repossession</a>
             </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-own-yes" name="home-own" type="radio" value="Yes" {{ checked("home-own", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="home-own-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-own-no" name="home-own" type="radio" value="No" {{ checked("home-own", "No") }}>
                <label class="govuk-label govuk-radios__label" for="home-own-no">
                  No
                </label>
              </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Continue</button>
      </div>


      </form>

    </div>




  </div>

{% endblock %}
