{% extends "layout.html" %}

{% block pageTitle %}
Partner's income – {{ serviceName }}
{% endblock %}

{% set currency = "£" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

       <form class="form" action="{% if data['checking'] %}/check-answers{% else %}/monthly-outgoings-partner{% endif %}" method="post">

       <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Your client's partner's finances</span>
     <h1 class="govuk-fieldset__heading">What monthly income does your client's partner receive?</h1>
   </legend>
 <div id="contact-hint" class="govuk-hint">Select all that apply.</div>

 <div class="govuk-checkboxes" data-module="govuk-checkboxes">

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-1" name="partner-gross-monthly-income" type="checkbox" value="partner-gross-monthly-income" data-aria-controls="partner-gross-monthly-income-yes" {{ checked("partner-gross-monthly-income","yes") }} >
     <label class="govuk-label govuk-checkboxes__label" for="income-sources-1">Employment income</label>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-gross-monthly-income-yes">

     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-1">Enter gross monthly income</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-1-value" name="partner-income-sources-1-value" type="text" value="{{ data['partner-income-sources-1-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>

   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-2" name="partner-benefits" type="checkbox" value="partner-benefits" data-aria-controls="partner-benefits-yes" {{ checked("partner-benefits","yes") }} >
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-2">Benefits</label>
     <span id="income-sources-2-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, Child Benefit or tax credits.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-benefits-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-2">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-2-value" name="partner-income-sources-2-value" type="text" value="{{ data['partner-income-sources-2-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-3" name="partner-financial-help" type="checkbox" value="partner-financial-help" data-aria-controls="partner-financial-help-yes" {{ checked("partner-financial-help","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="income-sources-3">Financial help from friends or family</label>
     <span id="income-sources-3-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, money from a family member for rent or bills.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-financial-help-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-3">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-3-value" name="partner-income-sources-3-value" type="text" value="{{ data['partner-income-sources-3-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-4" name="partner-maintenance" type="checkbox" value="partner-maintenance" data-aria-controls="partner-maintenance-yes" {{ checked("partner-maintenance","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-4">Maintenance payments from a former partner</label>
     <span id="income-sources-4-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">This includes child maintenance.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-maintenance-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-4">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-4-value" name="partner-income-sources-4-value" type="text" value="{{ data['partner-income-sources-4-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-5" name="partner-rent" type="checkbox" value="partner-rent" data-aria-controls="partner-rent-yes" {{ checked("partner-rent","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-5">Income from a property or lodger</label>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-rent-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-5">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-5-value" name="partner-income-sources-5-value" type="text" value="{{ data['partner-income-sources-5-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-6" name="partner-pension" type="checkbox" value="partner-rent" data-aria-controls="partner-pension-yes" {{ checked("partner-pension","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-6">Pension</label>
     <span id="income-sources-6-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Include State, workplace and personal pensions.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-pension-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-6">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-6-value" name="partner-income-sources-6-value" type="text" value="{{ data['partner-income-sources-6-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="income-sources-7" name="partner-student-loan-grant" type="checkbox" value="partner-student-loan-grant" data-aria-controls="partner-student-loan-grant-yes" {{ checked("partner-student-loan-grant","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-7">Student finance</label>
     <span id="income-sources-7-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">This includes any type of student loan, grant or bursary.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-student-loan-grant-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-7">Enter amount received this academic year</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-7-value" name="partner-income-sources-7-value" type="text" value="{{ data['partner-income-sources-7-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-8" name="partner-other-sources" type="checkbox" value="partner-other-sources" data-aria-controls="partner-other-sources-yes" {{ checked("partner-other-sources","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-8">Income from other sources</label>
     <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Include any other income your client received in the last 3 months.</span>

   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-other-sources-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-8">Enter amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-8-value" name="partner-income-sources-8-value" type="text" value="{{ data['partner-income-sources-8-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

 </div>

</fieldset>
</div>

    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
    <a class="govuk-link" href="/v2-start">Cancel</a>
    </div>

     </form>

   </div>


 </div>

{% endblock %}
