{% extends "layout.html" %}

{% block pageTitle %}
Partner's income – {{ serviceName }}
{% endblock %}

{% set currency = "£" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

       <form class="form" action="{% if data['checking'] %}/check-answers#partner-income{% else %}/monthly-outgoings-partner{% endif %}" method="post">

       <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Your client's partner's finances</span>
     <h1 class="govuk-fieldset__heading">What income does your client's partner receive?</h1>
   </legend>
 <div id="contact-hint" class="govuk-hint">Select all that apply.</div>

 <div class="govuk-checkboxes" data-module="govuk-checkboxes">

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-1" name="partner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-gross-monthly-income-yes" {{ checked("partner-monthly-income","yes") }} >
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-1">Employment income</label>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-gross-monthly-income-yes">

     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-1-value">Enter gross monthly income</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-1-value" name="partner-income-sources-1-value" type="text" value="{{ data['partner-income-sources-1-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>

   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-2" name="partner-monthly-incomes" type="checkbox" value="yes" data-aria-controls="partner-benefits-yes" {{ checked("partner-monthly-income","yes") }} >
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-2">Benefits</label>
     <span id="income-sources-2-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, Child Benefit or tax credits.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-benefits-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-2-value">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-2-value" name="partner-income-sources-2-value" type="text" value="{{ data['partner-income-sources-2-value']}}">
       </div>

       <div class="govuk-!-padding-bottom-4"></div>

       <fieldset class="govuk-fieldset">
         <label class="govuk-label" for="">
           Enter frequency
         </label>
         <div class="govuk-radios" data-module="govuk-radios">
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="partner-income-sources-2-every-week" name="partner-benefits-frequency" type="radio" value="Every week" {{ checked("partner-benefits-frequency", "Every week") }}>
             <label class="govuk-label govuk-radios__label" for="income-sources-2-every-week">
               Every week
             </label>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="partner-income-sources-2-every-two-weeks" name="partner-benefits-frequency" type="radio" value="Every two weeks" {{ checked("partner-benefits-frequency", "Every two weeks") }}>
             <label class="govuk-label govuk-radios__label" for="income-sources-2-every-two-weeks">
               Every two weeks
             </label>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="partner-income-sources-2-every-four-weeks" name="partner-benefits-frequency" type="radio" value="Every four weeks" {{ checked("partner-benefits-frequency", "Every four weeks") }}>
             <label class="govuk-label govuk-radios__label" for="income-sources-2-every-four-weeks">
               Every four weeks
             </label>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="partner-income-sources-2-monthly" name="partner-benefits-frequency" type="radio" value="Monthly" {{ checked("partner-benefits-frequency", "Monthly") }}>
             <label class="govuk-label govuk-radios__label" for="income-sources-2-monthly">
               Monthly
             </label>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="partner-income-sources-2-annually" name="partner-benefits-frequency" type="radio" value="Annually" {{ checked("partner-benefits-frequency", "Annually") }}>
             <label class="govuk-label govuk-radios__label" for="income-sources-2-annually">
               Annually
             </label>
           </div>
         </div>
       </fieldset>

       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-3" name="partner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-financial-help-yes" {{ checked("partner-monthly-income","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-3">Financial help from friends or family</label>
     <span id="income-sources-3-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, money from a family member for rent or bills.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-financial-help-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-3-value">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-3-value" name="partner-income-sources-3-value" type="text" value="{{ data['partner-income-sources-3-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-4" name="ppartner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-maintenance-yes" {{ checked("partner-monthly-income","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-4">Maintenance payments from a former partner</label>
     <span id="income-sources-4-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">This includes child maintenance.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-maintenance-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-4-value">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-4-value" name="partner-income-sources-4-value" type="text" value="{{ data['partner-income-sources-4-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-5" name="partner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-rent-yes" {{ checked("partner-monthly-income","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-5">Income from a property or lodger</label>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-rent-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-5-value">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-5-value" name="partner-income-sources-5-value" type="text" value="{{ data['partner-income-sources-5-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-6" name="partner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-pension-yes" {{ checked("partner-monthly-income","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-6">Pension</label>
     <span id="income-sources-6-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Include State, workplace and personal pensions.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-pension-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-6-value">Enter monthly amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-6-value" name="partner-income-sources-6-value" type="text" value="{{ data['partner-income-sources-6-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-7" name="partner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-student-loan-grant-yes" {{ checked("partner-monthly-income","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-7">Student finance</label>
     <span id="income-sources-7-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">This includes any type of student loan, grant or bursary.</span>
   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-student-loan-grant-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-7-value">Enter amount received this academic year</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-7-value" name="partner-income-sources-7-value" type="text" value="{{ data['partner-income-sources-7-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="partner-income-sources-8" name="partner-monthly-income" type="checkbox" value="yes" data-aria-controls="partner-other-sources-yes" {{ checked("partner-monthly-income","yes") }}>
     <label class="govuk-label govuk-checkboxes__label" for="partner-income-sources-8">Income from other sources</label>
     <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Include any other income your client's partner received in the last 3 months.</span>

   </div>
   <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="partner-other-sources-yes">
     <div class="govuk-form-group">
       <label class="govuk-label" for="partner-income-sources-8-value">Enter amount</label>
       <!-- wrapper starts -->
       <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="partner-income-sources-8-value" name="partner-income-sources-8-value" type="text" value="{{ data['partner-income-sources-8-value']}}">
       </div>
       <!-- wrapper ends -->
     </div>
   </div>

   <!-- none -->
   <div class="govuk-checkboxes__divider">or</div>
   <div class="govuk-checkboxes__item">
     <input class="govuk-checkboxes__input" id="capital-8" name="partner-monthly-income" type="checkbox" value="none" data-behaviour="exclusive" {{ checked("partner-monthly-income","none") }}>
     <label class="govuk-label govuk-checkboxes__label" for="capital-8">
       My client's partner has no monthly income
     </label>
   </div>
 </div>
   <!-- none -->

 </div>

</fieldset>

<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
<a class="govuk-link" href="/start">Cancel</a>
</div>

</div>

     </form>

     <div class="right-sidebar-menu">
       <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
           <h2 class="govuk-body-m" id="subsection-title">
           <strong>Reference number</strong>
           <p class="govuk-body-m">HDJ-212-3F</p>
           </h2>
           <h2 class="govuk-body-m" id="subsection-title">
           <strong>Date stamp</strong>
           <p class="govuk-body-m">16/08/2022</p>
           </h2>
         </aside>
       </div>
     </div>

   </div>


 </div>

{% endblock %}
