{% extends "layout.html" %}

{% block pageTitle %}
Outgoings – {{ serviceName }}
{% endblock %}

{% set currency = "£" %}
{% set capital1value = "0" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="{% if data['checking'] %}/check-answers{% else %}/client-property{% endif %}" method="post">

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Your client's finances</span>
             <h1 class="govuk-fieldset__heading">What are your client's monthly outgoings and deductions?</h1>
           </legend>

          <div id="contact-hint" class="govuk-hint">Select all that apply.</div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="outgoing-1" name="outgoing-payments" type="checkbox" value="yes" data-aria-controls="outgoing-housing-payments-yes" {{ checked("outgoing-payments","yes") }} >
              <label class="govuk-label govuk-checkboxes__label" for="outgoing-1">Housing payments</label>
              <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, rent, mortgage or board and lodging.</span>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-housing-payments-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="outgoing-1-value">Enter monthly amount</label>
                <!-- wrapper starts -->
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="outgoing-1-value" name="outgoing-1-value" type="text" value="{{ data['outgoing-1-value']}}">
                </div>
                <!-- wrapper ends -->
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="outgoing-4" name="outgoing-payments" type="checkbox" value="yes" data-aria-controls="outgoing-childcare-yes" {{ checked("outgoing-payments","yes") }}>
              <label class="govuk-label govuk-checkboxes__label" for="outgoing-4">Childcare payments</label>
              <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, to a childminder, nanny or nursery.</span>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-childcare-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="outgoing-4-value">Enter monthly amount</label>
                <!-- wrapper starts -->
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="outgoing-4-value" name="outgoing-4-value" type="text" value="{{ data['outgoing-4-value']}}">
                </div>
                <!-- wrapper ends -->
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="outgoing-5" name="outgoing-payments" type="checkbox" value="yes" data-aria-controls="outgoing-maintenance-yes" {{ checked("outgoing-payments","yes") }}>
              <label class="govuk-label govuk-checkboxes__label" for="outgoing-5">Maintenance payments to a former partner</label>
              <span id="outgoing-5-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">This includes child maintenance.</span>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-maintenance-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="outgoing-5-value">Enter monthly amount</label>
                <!-- wrapper starts -->
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="outgoing-5-value" name="outgoing-5-value" type="text" value="{{ data['outgoing-5-value']}}">
                </div>
                <!-- wrapper ends -->
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="outgoing-6" name="outgoing-payments" type="checkbox" value="yes" data-aria-controls="outgoing-legal-aid-yes" {{ checked("outgoing-payments","yes") }}>
              <label class="govuk-label govuk-checkboxes__label" for="outgoing-6">Payments towards legal aid in a criminal case</label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-legal-aid-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="outgoing-6-value">Enter monthly amount</label>
                <!-- wrapper starts -->
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="outgoing-6-value" name="outgoing-6-value" type="text" value="{{ data['outgoing-6-value']}}">
                </div>
                <!-- wrapper ends -->
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="outgoing-2" name="outgoing-payments" type="checkbox" value="yes" data-aria-controls="outgoing-tax-yes" {{ checked("outgoing-payments","yes") }} >
              <label class="govuk-label govuk-checkboxes__label" for="outgoing-2">Income tax</label>
              <span id="outgoing-2-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">You can find this on your client's payslips.</span>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-tax-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="outgoing-2-value">Enter monthly amount</label>
                <!-- wrapper starts -->
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="outgoing-2-value" name="outgoing-2-value" type="text" value="{{ data['outgoing-2-value']}}">
                </div>
                <!-- wrapper ends -->
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="outgoing-3" name="outgoing-payments" type="checkbox" value="yes" data-aria-controls="outgoing-nat-ins-yes" {{ checked("outgoing-payments","yes") }}>
              <label class="govuk-label govuk-checkboxes__label" for="outgoing-3">National Insurance</label>
              <span id="outgoing-3-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">You can find this on your client's payslips.</span>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-nat-ins-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="outgoing-3-value">Enter monthly amount</label>
                <!-- wrapper starts -->
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="outgoing-3-value" name="outgoing-3-value" type="text" value="{{ data['outgoing-3-value']}}">
                </div>
                <!-- wrapper ends -->
              </div>
            </div>

            <!-- none -->
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="capital-8" name="outgoing-payments" type="checkbox" value="none" data-behaviour="exclusive" {{ checked("outgoing-payments","none") }}>
              <label class="govuk-label govuk-checkboxes__label" for="capital-8">
                My client has no monthly outgoings or deductions
              </label>
            </div>
          </div>
            <!-- none -->

          </div>

        </fieldset>

        <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
        <a class="govuk-link" href="/start">Cancel</a>
      </div>
        </div>




      </form>

      <div class="right-sidebar-menu">
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-body-s" id="subsection-title">
            <strong>Reference number</strong>
            <p class="govuk-body-s">HDJ-212-3F</p>
            </h2>
          </aside>
        </div>
      </div>

    </div>


  </div>

{% endblock %}
