{% extends "layout.html" %}

{% block pageTitle %}
Add benefits – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <form class="form" action="partner-add-another-benefit" method="post">

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">

                <!-- question start -->

                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                     <span class="govuk-caption-l">Your client's partner finances</span>
                      <h1 class="govuk-fieldset__heading">Add partner's benefit details</h1>
                    </legend>

                    <div class="govuk-!-padding-bottom-6"></div>

                    <div class="govuk-form-group">
                    <label class="govuk-label" for="benefit-type">Benefit type</label>
                    <input class="govuk-input govuk-input--width-10" id="partner-benefit-type" name="partner-benefit-type" type="text" value="{{ data['partner-benefit-type']}}">
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="amount">Enter amount</label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-currency-input govuk-input--width-10" id="partner-benefit-amount" name="partner-benefit-amount" type="text" value="{{ data['partner-benefit-amount']}}">
                    </div>
                  </div>

                  <div class="govuk-!-padding-bottom-2"></div>

                  <h2 class="govuk-heading-m">Select frequency</h2>

                   <div class="govuk-radios" data-module="govuk-radios">
                     <div class="govuk-radios__item">
                       <input class="govuk-radios__input" id="partner-benefits-weekly" name="partner-benefits-frequency" type="radio" value="Every week" {{ checked("partner-benefits-frequency", "Every week") }}>
                       <label class="govuk-label govuk-radios__label" for="partner-benefits-weekly">Every week</label>
                     </div>
                     <div class="govuk-radios__item">
                       <input class="govuk-radios__input" id="partner-benefits-fortnighly" name="partner-benefits-frequency" type="radio" value="Every two weeks" {{ checked("partner-benefits-frequency", "Every two weeks") }}>
                       <label class="govuk-label govuk-radios__label" for="partner-benefits-fortnighly">Every two weeks</label>
                     </div>
                     <div class="govuk-radios__item">
                       <input class="govuk-radios__input" id="partner-benefits-four-weekly" name="partner-benefits-frequency" type="radio" value="Every four weeks" {{ checked("partner-benefits-frequency", "Every four weeks") }}>
                       <label class="govuk-label govuk-radios__label" for="partner-benefits-four-weekly">Every four weeks</label>
                     </div>
               <!-- question end -->

              </fieldset>

            </div>

          <!-- send start -->
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
        </div>

        </form>

      </div>

      <div class="right-sidebar-menu">
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-body-m" id="subsection-title">
            <strong>Date</strong>
            <p class="govuk-body-m">16 August 2022</p>
            </h2>

          </aside>
        </div>
      </div>

  </div>


{% endblock %}
