{% extends "layout.html" %}

{% block pageTitle %}
Start – {{ serviceName }}
{% endblock %}





{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Continue to your client's partner's financial details
      </h1>

      <p class="govuk-body">You have entered you client's details and financial information. You now need to enter your client's partners information.</p>
      <p class="govuk-body"><a href="https://www.gov.uk/check-legal-aid">Check if you can get legal aid</a>  if you're not a legal aid provider.</p>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You'll need information about your client's partner's:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>income</li>
        <li>outgoings</li>
        <li>savings, investments and other assets</li>
      </ul>


      <!-- send start -->
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Continue</button>
        <a class="govuk-link" href="/start">Cancel</a>
    </div>



    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><p><a href="https://www.gov.uk/legal-aid">Legal aid overview</a></p></li>
            <li><p><a href="https://www.gov.uk/guidance/civil-legal-aid-means-testing">Civil legal aid</a></p></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
