{% extends "layout.html" %}

{% block pageTitle %}
Signpost – {{ serviceName }}
{% endblock %}

{% set currency = "£" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation panel-grey">
         <h1 class="govuk-panel__title">
           You can't use this service to check if someone qualifies for legal aid.
         </h1>
       </div>

       <p class="govuk-body">You are not a civil or family legal aid provider.</p>

       <h2 class="govuk-heading-m">What to do next</h2>

       <ul class="govuk-list govuk-list--bullet">
      <li>you can get guidance and <a href="https://www.gov.uk/check-legal-aid" target="_self" rel="noopener noreferrer">check if you can get legal aid</a>.</li>
      <li>you can find out if an application might succeed in your case and how to apply by <a href="https://find-legal-advice.justice.gov.uk/" target="_self" rel="noopener noreferrer">asking a legal adviser</a>.</li>
      <li>you can also <a href="https://www.gov.uk/guidance/legal-aid-apply-for-exceptional-case-funding" target="_self" rel="noopener noreferrer">apply directly</a> to the Legal Aid Agency.</li>
    </ul>

       <p class="govuk-body">
         <a class="govuk-button" href="">Return to GOV.UK</a>
       </p>
     </div>

    </div>


</div>

{% endblock %}
