{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Eligibility estimate incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>

      <ol class="app-task-list">
       <li>
         <h2 class="app-task-list__section">
           <span class="app-task-list__section-number">1. </span>About the case</h2>
         <ul class="app-task-list__items">
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="/case-details-1" aria-describedby="case-details-status">Case details</a>
             </span>
             {% if data['domestic-abuse'] %}<strong class="govuk-tag govuk-tag app-task-list__tag" id="client-details-status">Completed</strong>
              {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="client-details-status">Not started</strong>
              {% endif %}
           </li>
         </ul>
       </li>
       <li>
         <h2 class="app-task-list__section">
           <span class="app-task-list__section-number">2. </span>About your client</h2>
         <ul class="app-task-list__items">
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="/client-details" aria-describedby="client-details-status">Client details</a>
             </span>
             {% if data['first-name'] %}<strong class="govuk-tag govuk-tag app-task-list__tag" id="client-details-status">Completed</strong>
              {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="client-details-status">Not started</strong>
              {% endif %}
           </li>
         </ul>
       </li>
       <li>
         <h2 class="app-task-list__section">
           <span class="app-task-list__section-number">3. </span>Means assessment</h2><ul class="app-task-list__items">
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="/monthly-income" aria-describedby="income-assessment-status">Income assessment</a>
             </span>
             {% if data['other-sources'] %}<strong class="govuk-tag govuk-tag app-task-list__tag" id="client-details-status">Completed</strong>
              {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="client-details-status">Not started</strong>
              {% endif %}
           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="#" aria-describedby="outgoings-assessment-status">Outgoings assessment</a>
             </span>
             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="outgoings-assessment-status">Not started</strong>
           </li><li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="#" aria-describedby="capital-assessment-status">Capital assessment</a>
             </span>
             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="capital-assessment-status">Not started</strong>
           </li><li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="#" aria-describedby="check-answers-status">Check your answers</a>
             </span>
             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="check-answers-status">Not started</strong>
           </li><li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="#" aria-describedby="legal-aid-estimate-status">Check legal aid eligibility estimate</a>
             </span>
             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="legal-aid-estimate-status">Cannot start yet</strong>
           </li>
         </ul>
       </li>
     </ol>

    </div>
  </div>

{% endblock %}
