{% extends "layout.html" %}

{% block pageTitle %}
Client details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{% if data['returnto'] %} {{ data['returnto']}} {% else %}/check-answers-1{% endif %}" method="post">

        <input class="govuk-input govuk-input--width-5" id="" name="returnto" type="hidden" value="">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">You've completed the client section</h1>
            </legend>

            <div class="govuk-!-padding-bottom-6"></div>

            <h2 class="govuk-heading-m">You told us your client has a partner</h2>


            <p class="govuk-body">
          We will now ask for some details about your client's partner to help us get an accurate financial picture of them.</a>
        </p>

      <p class="govuk-body">You will need information about your client's partner</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>dependants (if applicable)</li>
        <li>employment income (if applicable)</li>
        <li>benefits (if applicable)</li>
        <li>other income</li>
        <li>outgoings</li>
        <li>savings, investments and other assets including property and vehicles</li>
      </ul>


        <!-- question start -->
        <h2 class="govuk-heading-m">Is your client's partner 60 or older?</h2>
        <div class="govuk-form-group">
            <div id="o-60-hint" class="govuk-hint">
              People over 60 may have some of their capital excluded from an assessment of their finances.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="o-60-yes" name="o-60" type="radio" value="Yes" {{ checked("o-60", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="o-60-yes">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="o-60-no" name="o-60" type="radio" value="No" {{ checked("o-60", "No") }}>
                <label class="govuk-label govuk-radios__label" for="o-60-no">No</label>
              </div>
        </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <!-- question end -->

            <!-- question start -->
        <h2 class="govuk-heading-m">Does your client's partner have any dependants?</h2>
            <div class="govuk-form-group">

                <div id="contact-hint" class="govuk-hint">By dependant we mean a child or adult who lives with your client and depends on them for financial support.</div>

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">

                    <input class="govuk-radios__input" id="dependants-yes" name="dependants" type="radio" value="Yes" {{ checked("dependants","Yes") }} data-aria-controls="conditional-yes">
                    <label class="govuk-label govuk-radios__label" for="dependants-yes">Yes</label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dependants-no" name="dependants" type="radio" value="No" {{ checked("dependants","No") }}>
                    <label class="govuk-label govuk-radios__label" for="dependants-no">No</label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            <!-- question end -->




            <!-- question start -->
            <h2 class="govuk-heading-m">What is your client's partner employment status?</h2>
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="employment-status-employed" name="employment-status" type="radio" value="Employed" {{ checked("employment-status", "Employed") }}>
                    <label class="govuk-label govuk-radios__label" for="employment-status-employed">
                      Employed
                    </label>
                    <div id="employment-hint" class="govuk-hint govuk-radios__hint">
                      This includes the self-employed and members of the armed forces.
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="employment-status-unemployed" name="employment-status" type="radio" value="Unemployed" {{ checked("employment-status", "Unemployed") }}>
                    <label class="govuk-label govuk-radios__label" for="employment-status-unemployed">
                      Unemployed
                    </label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            <!-- question end -->


          </fieldset>

        </div>

      <!-- send start -->
      <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
      </div>

      </form>

    </div>

  <!--  <div class="right-sidebar-menu">
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Date</strong>
          <p class="govuk-body-m">16 August 2022</p>
          </h2>
        </aside>
      </div>
    </div>-->

</div>


{% endblock %}
