{% extends "layout.html" %}

{% block pageTitle %}
Client benefits – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/client-partner-decide" method="post">

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-l">About your client</span>
                <h1 class="govuk-fieldset__heading">Does your client have a partner?</h1>
              </legend>
              <span id="dob-hint" class="govuk-hint">This is a spouse, someone with whom they are in a civil relationship, a cohabiter or someone they share their finances with. They cannot be the opponent in any legal proiceedings.</span>

              <div class="govuk-!-padding-bottom-4"></div>

              <div class="govuk-form-group">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="client-partner-yes" name="client-partner" type="radio" value="Yes" {{ checked("client-partner", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="client-partner-yes">Yes</label>

                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="client-partner-no" name="client-partner" type="radio" value="No" {{ checked("client-partner", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="client-partner-no">No</label>
                    </div>
              </div>


            </fieldset>

            <div class="govuk-!-padding-bottom-4"></div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How should I answer this question?
                </span>
              </summary>
              <div class="govuk-details__text">
                We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
              </div>
            </details>

          </div>

        <!-- send start -->
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
        </div>

        </form>

      </div>

      <div class="right-sidebar-menu">
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-body-m" id="subsection-title">
            <strong>Date</strong>
            <p class="govuk-body-m">16 August 2022</p>
            </h2>

          </aside>
        </div>
      </div>

  </div>


{% endblock %}
