{% extends "layout.html" %}

{% block pageTitle %}
Client details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{% if data['returnto'] %} {{ data['returnto']}} {% else %}/check-answers-1{% endif %}" method="post">

        <input class="govuk-input govuk-input--width-5" id="" name="returnto" type="hidden" value="">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-l">About your client</span>
              <h1 class="govuk-fieldset__heading">Tell us about your client</h1>
            </legend>
            <div class="govuk-!-padding-bottom-6"></div>

            <!-- question start -->
        <h2 class="govuk-heading-m">Does your client have any dependants?</h2>
            <div class="govuk-form-group">

                <div id="contact-hint" class="govuk-hint">By dependant we mean a child or adult who lives with your client and depends on them for financial support.</div>

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">

                    <input class="govuk-radios__input" id="dependants-yes" name="dependants" type="radio" value="Yes" {{ checked("dependants","Yes") }} data-aria-controls="conditional-yes">
                    <label class="govuk-label govuk-radios__label" for="dependants-yes">Yes</label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dependants-no" name="dependants" type="radio" value="No" {{ checked("dependants","No") }}>
                    <label class="govuk-label govuk-radios__label" for="dependants-no">No</label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            <!-- question end -->

            <!-- question start -->
            <h2 class="govuk-heading-m">Is your client 60 or older?</h2>
            <div class="govuk-form-group">
                <div id="o-60-hint" class="govuk-hint">
                  Clients over 60 may have some of their capital excluded from an assessment of their finances.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="o-60-yes" name="o-60" type="radio" value="Yes" {{ checked("o-60", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="o-60-yes">Yes</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="o-60-no" name="o-60" type="radio" value="No" {{ checked("o-60", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="o-60-no">No</label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            <!-- question end -->

            <!--

            {% if data['area-of-law'] == 'Immigration' or data['area-of-law'] == 'Asylum' %}
            <h2 class="govuk-heading-m">Is your client receiving asylum support?</h2>
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="asylum-support-yes" name="asylum-support" type="radio" value="Yes" {{ checked("asylum-support", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="asylum-support-yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="asylum-support-no" name="asylum-support" type="radio" value="No" {{ checked("asylum-support", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="asylum-support-no">
                      No
                    </label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            {% else %}
            {% endif %}
           -->

            <!-- question start -->
            <h2 class="govuk-heading-m">What is your client's employment status?</h2>
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="employment-status-employed" name="employment-status" type="radio" value="Employed" {{ checked("employment-status", "Employed") }}>
                    <label class="govuk-label govuk-radios__label" for="employment-status-employed">
                      Employed
                    </label>
                    <div id="employment-hint" class="govuk-hint govuk-radios__hint">
                      This includes the self-employed and members of the armed forces.
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="employment-status-unemployed" name="employment-status" type="radio" value="Unemployed" {{ checked("employment-status", "Unemployed") }}>
                    <label class="govuk-label govuk-radios__label" for="employment-status-unemployed">
                      Unemployed
                    </label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            <!-- question end -->

            <!-- question start -->
            <h2 class="govuk-heading-m">Does your client receive a passporting benefit?</h2>
            <div class="govuk-form-group">

                <div id="partner-hint" class="govuk-hint">Universal Credit, Income Support, income-based Jobseeker's Allowance (JSA), income-related Employment and Support Allowance (ESA), and Guarantee Credit element of Pension Credit.
              </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="passport-benefits-yes" name="passport-benefits" type="radio" value="Yes" {{ checked("passport-benefits", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="passport-benefits-yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="passport-benefits-no" name="passport-benefits" type="radio" value="No" {{ checked("passport-benefits", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="passport-benefits-no">
                      No
                    </label>
                  </div>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
            <!-- question end -->

          </fieldset>

        </div>

      <!-- send start -->
      <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
      </div>

      </form>

    </div>

    <div class="right-sidebar-menu">
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Date</strong>
          <p class="govuk-body-m">16 August 2022</p>
          </h2>
        </aside>
      </div>
    </div>

</div>


{% endblock %}
