{% extends "layout.html" %}

{% block pageTitle %}
Dependant – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/test-dependants-d" method="post">

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-l">About your client</span>
                <h1 class="govuk-fieldset__heading">Does your client have any dependants?</h1>
              </legend>

              <p class="govuk-body">A dependant is a child or adult who:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>lives with your client</li>
                <li>depends on your client for financial support</li>
              </ul>

              <div class="govuk-inset-text">Don't include you client's partner if they have one.</div>

              <div class="govuk-form-group">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="dependant-yes" name="dependant" type="radio" value="Yes" {{ checked("dependant", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="dependant-yes">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="dependant-no" name="dependant" type="radio" value="No" {{ checked("dependant", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="dependant-no">No</label>
                    </div>
              </div>


            </fieldset>

          </div>

        <!-- send start -->
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
        </div>

        </form>

      </div>

      <div class="right-sidebar-menu">
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-body-m" id="subsection-title">
            <strong>Date</strong>
            <p class="govuk-body-m">16 August 2022</p>
            </h2>

          </aside>
        </div>
      </div>

  </div>


{% endblock %}
