{% extends "layout.html" %}

{% block pageTitle %}
  Vehicle – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/test-check-answers" method="post">
        <input class="govuk-input govuk-input--width-5" id="" name="returnto" type="hidden" value="">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-l">Your client's finances</span>
               <h1 class="govuk-fieldset__heading">Tell us about your client's vehicle</h1>
             </legend>

             <div class="govuk-!-padding-bottom-6"></div>

            <div class="govuk-form-group">
             <label class="govuk-label govuk-label--m" for="client-vehicle-value">What is the estimated value of the vehicle?</label>
             <div id="client-vehicle-value-hint" class="govuk-hint">You can use car valuation websites to find this out. Please use upper valuation.</div>
             <label class="govuk-label" for="client-vehicle-value">Enter the total amount</label>
             <!-- wrapper starts -->
             <div class="govuk-input__wrapper">
               <div class="govuk-input__prefix" aria-hidden="true">£</div>
               <input class="govuk-input govuk-input--width-5" id="client-vehicle-value" name="client-vehicle-value" type="text" value="{{ data['client-vehicle-value']}}">
             </div>
             <!-- wrapper ends -->
           </div>

           <div class="govuk-!-padding-bottom-4"></div>

           <div class="govuk-form-group">
             <label class="govuk-label govuk-label--m" for="client-vehicle-value">Are there any payments left on the vehicle?</label>
            <div id="client-vehicle-value-hint" class="govuk-hint">Include any outstanding payments on loans, hire purchase (HP) or personal contract purchase (PCP) agreements.</div>

            <!-- wrapper starts -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="client-vehicle-payments-yes" name="client-vehicle-payments" type="radio" value="Yes" {{ checked("client-vehicle-payments", "Yes") }} data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="client-vehicle-payments-yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes"> <!-- id needs to match data-aria-controls -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="paymentLeft">Enter the value of payments left</label>
                    <!-- wrapper starts -->
                    <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="paymentLeft" name="paymentLeft" type="text" value="{{ data['paymentLeft'] }}">
                  </div>
                  <!-- wrapper ends -->
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="client-vehicle-payments-no" name="client-vehicle-payments" type="radio" value="No" {{ checked("client-vehicle-payments", "No") }}>
                <label class="govuk-label govuk-radios__label" for="client-vehicle-payments-no">
                  No
                </label>
              </div>
            </div>
            <!-- wrapper ends -->
            </div>

            <div class="govuk-!-padding-bottom-4"></div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="client-vehicle-use">Did your client by the vehicle over 3 years ago?</label>
             <!-- wrapper starts -->
             <div class="govuk-radios" data-module="govuk-radios">
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="client-vehicle-three-yes" name="client-vehicle-three" type="radio" value="Yes" {{ checked("client-vehicle-three", "Yes") }}>
                 <label class="govuk-label govuk-radios__label" for="client-vehicle-three-yes">
                   Yes
                 </label>
               </div>
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="client-vehicle-three-no" name="client-vehicle-three" type="radio" value="No" {{ checked("client-vehicle-three", "No") }}>
                 <label class="govuk-label govuk-radios__label" for="client-vehicle-three-no">
                   No
                 </label>
               </div>
             </div>
             <!-- wrapper ends -->
             </div>

             <div class="govuk-!-padding-bottom-4"></div>

           <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="client-vehicle-use">Is the vehicle in regular use?</label>
            <div id="client-home-value-hint" class="govuk-hint">This means the vehicle is used at least once every 2 weeks for things like work, shopping or driving children to school.</div>
            <!-- wrapper starts -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="client-vehicle-use-yes" name="client-vehicle-use" type="radio" value="Yes" {{ checked("client-vehicle-use", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="client-vehicle-use-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="client-vehicle-use-no" name="client-vehicle-use" type="radio" value="No" {{ checked("client-vehicle-use", "No") }}>
                <label class="govuk-label govuk-radios__label" for="client-vehicle-use-no">
                  No
                </label>
              </div>
            </div>
            <!-- wrapper ends -->
            </div>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="none-g" name="none-g" type="checkbox" value="Yes" {{ checked("none-g","Yes") }}>
               <label class="govuk-label govuk-checkboxes__label" for="none-g">
                 This asset is a subject matter of dispute
               </label>
             </div>
           </div>

          </fieldset>

        </div>

        <div class="govuk-!-padding-bottom-4"></div>


      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
      </div>

      </form>

    </div>

    <div class="right-sidebar-menu">
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Date</strong>
          <p class="govuk-body-m">16 August 2022</p>
          </h2>
          <h2 class="govuk-body-m" id="subsection-title">
          <strong>Related content</strong>
         <p><a href="#">Guidance on vehicles</a></p>
          </h2>
        </aside>
      </div>
    </div>


</div>





{% endblock %}
