{% extends "layout.html" %}

{% block pageTitle %}
  Capital – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--<h1 class="govuk-heading-xl">Your client's income details</h1>-->

    <form class="form" action="/v1-check-answers" method="post">

      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Which of the following assets does your client have?</h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">Select all options that are relevant to your client and enter an amount.</div>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-1" name="outgoing-housing-payments" type="checkbox" value="outgoing-housing-payments" data-aria-controls="outgoing-housing-payments-yes" {{ checked("outgoing-housing-payments","yes") }} >
            <label class="govuk-label govuk-checkboxes__label" for="capital-1">Main dwelling share value</label>
            <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, rent, mortgage or board and lodging.</span>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-housing-payments-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-1">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-1-value" name="capital-1-value" type="text" value="{{ data['capital-1-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-2" name="outgoing-tax" type="checkbox" value="outgoing-tax" data-aria-controls="outgoing-tax-yes" {{ checked("outgoing-tax","yes") }} >
            <label class="govuk-label govuk-checkboxes__label" for="capital-2">Other properties value</label>
            <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-tax-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-2">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-2-value" name="capital-2-value" type="text" value="{{ data['capital-2-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-3" name="outgoing-nat-ins" type="checkbox" value="outgoing-nat-ins" data-aria-controls="outgoing-nat-ins-yes" {{ checked("outgoing-nat-ins","yes") }}>
            <label class="govuk-label govuk-checkboxes__label" for="capital-3">Savings</label>
            <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-nat-ins-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-3">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-3-value" name="capital-3-value" type="text" value="{{ data['capital-3-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-4" name="outgoing-childcare" type="checkbox" value="outgoing-childcare" data-aria-controls="outgoing-childcare-yes" {{ checked("outgoing-childcare","yes") }}>
            <label class="govuk-label govuk-checkboxes__label" for="capital-4">Investments</label>
            <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-childcare-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-4">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-4-value" name="capital-4-value" type="text" value="{{ data['capital-4-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-5" name="outgoing-maintenance" type="checkbox" value="outgoing-maintenance" data-aria-controls="outgoing-maintenance-yes" {{ checked("outgoing-maintenance","yes") }}>
            <label class="govuk-label govuk-checkboxes__label" for="capital-5">Maintenance payments</label>
            <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">For example, payments from an ex-partner or children.</span>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-maintenance-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-5">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-5-value" name="capital-5-value" type="text" value="{{ data['capital-5-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-6" name="outgoing-legal-aid" type="checkbox" value="outgoing-legal-aid" data-aria-controls="outgoing-legal-aid-yes" {{ checked("outgoing-legal-aid","yes") }}>
            <label class="govuk-label govuk-checkboxes__label" for="capital-6">Vehicles</label>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-legal-aid-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-6">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-6-value" name="capital-6-value" type="text" value="{{ data['capital-6-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-7" name="outgoing-dependants" type="checkbox" value="outgoing-dependants" data-aria-controls="outgoing-dependants-yes" {{ checked("outgoing-dependants","yes") }}>
            <label class="govuk-label govuk-checkboxes__label" for="capital-7">Other assets</label>
            <span id="income-sources-1-hint" class="govuk-hint govuk-checkboxes__hint" style="padding-left: 15px">Lorem ipsum dolor sit amet, consectetur.</span>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="outgoing-dependants-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="capital-7">Enter amount</label>
              <!-- wrapper starts -->
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="capital-7-value" name="capital-7-value" type="text" value="{{ data['capital-7-value']}}">
              </div>
              <!-- wrapper ends -->
            </div>
          </div>


          <p class="govuk-body">or</p>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="outgoing-8" name="outgoing-8" type="checkbox" value="{{ data['outgoing-8']}}">
            <label class="govuk-label govuk-checkboxes__label" for="outgoing-8">
              None of these
            </label>
          </div>

        </div>

      </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
