{% extends "layout.html" %}

{% block pageTitle %}
  Case details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-heading-xl">Your client's case details</h1>-->
      <span class="govuk-caption-l">Question 3 of 3</span>
      <h1 class="govuk-heading-xl">Your client's case details</h1>

      <form class="form" action="/v2-task-list" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-label--m" for="domestic-abuse">Is it a domestic abuse matter?</label>
            </legend>
            <div id="employment-hint" class="govuk-hint">
              Different thresholds apply  specifically to these types of cases.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="domestic-abuse-yes" name="domestic-abuse" type="radio" value="Yes" {{ checked("domestic-abuse", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="domestic-abuse-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="domestic-abuse-no" name="domestic-abuse" type="radio" value="No" {{ checked("domestic-abuse", "No") }}>
                <label class="govuk-label govuk-radios__label" for="domestic-abuse-no">
                  No
                </label>
              </div>
          </fieldset>
        </div>

        <!-- marking task complete start -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Have you completed this section?</legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="completed-case-details-yes" required name="completed-case-details" type="radio" value="Yes" {{ checked("completed-case-details", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="completed-client-details-yes">Yes, I’ve completed this section</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="completed-case-details-no" required name="completed-case-details" type="radio" value="No" {{ checked("completed-case-details", "No") }}>
                <label class="govuk-label govuk-radios__label" for="completed-case-details-no">No, I’ll come back to it later</label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <!--<div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and come back later</button>
        </div>-->
        <!-- marking task complete end -->

        <!--<button class="govuk-button" data-module="govuk-button">Continue</button>-->

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/legal-aid">
              Legal aid guidance
            </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
