{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility for legal aid - Client details
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your client's details</h1>

<form class="form" action="/v2-monthly-income" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-label--m" for="passport-benefits">Does your client receive a passporting benefit?</label>
            </legend>
            <div id="partner-hint" class="govuk-hint">
              These include Income  Support (IS), Income-based  Jobseeker’s Allowance (JSA), Universal  Credit (UC), Guarantee  Credit element of Pension Credit (GC), Income-related Employment and Support Allowance (ESA)
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="passport-benefits-yes" name="passport-benefits" type="radio" value="Yes" {{ checked("passport-benefits", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="passport-benefits-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="passport-benefits-no" name="passport-benefits" type="radio" value="No" {{ checked("passport-benefits", "No") }}>
                <label class="govuk-label govuk-radios__label" for="passport-benefits-no">
                  No
                </label>
              </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-label--m" for="asylum-support">Is your client receiving asylum support?</label>
            </legend>
            <div id="partner-hint" class="govuk-hint">
              If a person is waiting to find out if they'll be given asylum, they may receive housing and money to support them and their family.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="asylum-support-yes" name="asylum-support" type="radio" value="Yes" {{ checked("asylum-support", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="asylum-support-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="asylum-support-no" name="asylum-support" type="radio" value="No" {{ checked("asylum-support", "No") }}>
                <label class="govuk-label govuk-radios__label" for="asylum-support-no">
                  No
                </label>
              </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-label--m" for="employment-status">What is your client's employment status?</label>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employment-status-employed" name="employment-status" type="radio" value="Employed" {{ checked("employment-status", "Employed") }}>
                <label class="govuk-label govuk-radios__label" for="employment-status-employed">
                  Employed
                </label>
                <div id="employment-hint" class="govuk-hint govuk-radios__hint">
                  This includes the self-employed and members of the armed forces.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employment-status-unemployed" name="employment-status" type="radio" value="Unemployed" {{ checked("employment-status", "Unemployed") }}>
                <label class="govuk-label govuk-radios__label" for="employment-status-unemployed">
                  Unemployed
                </label>
              </div>

          </fieldset>
        </div>

          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="https://www.gov.uk/legal-aid">Legal aid overview</a></li>
            <li><a href="#">Passporting benefits guidance</a></li>
            <li><a href="#">Assylum support guidance</a></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
