{% extends "layout.html" %}

{% block pageTitle %}
Case details – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Question 2 of 3</span>
      <h1 class="govuk-heading-xl">Case details</h1>

      <form class="form" action="/v2-case-details-3" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-label--m" for="upper-tribunal">Is it an upper tribunal matter?</label>
            </legend>
            <div id="employment-hint" class="govuk-hint">
              Legal representation of a client in any application to the Immigration and Asylum Chamber of the Upper Tribunal.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="upper-tribunal-yes" name="upper-tribunal" type="radio" value="Yes" {{ checked("upper-tribunal", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="upper-tribunal-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="upper-tribunal-no" name="upper-tribunal" type="radio" value="No" {{ checked("upper-tribunal", "No") }}>
                <label class="govuk-label govuk-radios__label" for="upper-tribunal-no">
                  No
                </label>
              </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>


      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="https://www.gov.uk/legal-aid">Legal aid overview</a></li>
            <li><a href="#">Upper tribunal guidance</a></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
