{% extends "layout.html" %}

{% block pageTitle %}
  Case details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">prototype</strong>
    <span class="govuk-phase-banner__text">This is a prototype. Some things may not work as expected.</span>
  </p>
</div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-heading-xl">Your client's case details</h1>-->
      <span class="govuk-caption-l">Question 1 of 3</span>
      <h1 class="govuk-heading-xl">Your client's case details</h1>
      <form class="form" action="/v2-case-details-2" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label govuk-label--l" for="represenation">What level of representation does your client require?</label>
            </legend>
            <div id="employment-hint" class="govuk-hint">
              If you are unsure, you can estimate which level of representation you think may apply. You can do a separate estimate if you wish to compare.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="represenation-civil-certificated" name="represenation" type="radio" value="Civil licensed/certificated work" {{ checked("represenation", "Civil licensed/certificated work") }}>
                <label class="govuk-label govuk-radios__label" for="represenation-civil-certificated">
                  Civil licensed/certificated work
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="represenation-controlled" name="represenation" type="radio" value="Controlled work" {{ checked("represenation", "Controlled work") }}>
                <label class="govuk-label govuk-radios__label" for="represenation-controlled">
                  Controlled work
                </label>
              </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <!--<div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and come back later</button>
        </div>-->


{% endblock %}
